.main {
  width: 100%;
  position: relative;
}

.head {
  background-color: rgb(16, 132, 126);
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}

.head > img {
  height: 45px;
}

.headright > img {
  height: 70px;
}

.login {
  margin-left: 23px;
  font-weight: bold;
  width: 80%;
  font-size: 17px;
  color: #525b61;
  margin: 50px 0px;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.entry > input {
  text-align: left;
  padding-left: 16px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  height: 45px;
  border-radius: 5px;
  border: 0.5px solid rgb(75, 74, 74);
}

.go {
  width: 84%;
  padding: 17px 8px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  background-color: teal;
  border: none;
}

.foot {
  margin-left: 23px;
  font-size: 13px;
  color: rgb(105, 97, 97);
  width: 80%;
  text-align: center;
}

.foot > a {
  color: teal;
  font-size: 14px;
}
